<template>
    <div id="app">
        <tabs>
        </tabs>
    </div>
</template>

<script>
import Tabs from './components/Tabs.vue'

export default {
    name: 'app',
    components: {
        'tabs': Tabs,
    }
}
</script>

<style lang="sass">
@import '../node_modules/bulma/sass/utilities/_all.sass'
@import '../node_modules/bulma/sass/base/_all.sass'
@import '../node_modules/bulma/sass/layout/section.sass'
@import '../node_modules/bulma/sass/grid/columns.sass'
@import '../node_modules/bulma/sass/components/navbar.sass'
@import '../node_modules/bulma/sass/elements/table.sass'
@import '../node_modules/bulma/sass/elements/container.sass'
</style>
