<template>
    <div class="section">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item is-size-5"
                   :href="this.selectedTab.slug">
                    {{ this.selectedTab.name }}
                </a>
                <a role="button"
                    class="navbar-burger"
                    aria-label="menu"
                    aria-expanded="false"
                    @click="toggleMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-start">
                <div :class="{ 'navbar-menu': true, 'is-active': this.activeMenu }">
                    <a v-for="tab in tabs"
                        :href="tab.slug"
                        :key="tab.name"
                        :class="{ 'navbar-item': true, 'is-active': tab.isActive }"
                        @click="selectTab(tab, $event)">
                        {{ tab.name }}
                    </a>
                </div>
            </div>
        </nav>
        <div class="tabs-details">
            <tab v-for="tab in tabs"
                 :key="tab.name"
                 :name="tab.name"
                 :selected="tab.selected"
                 :table="tab.table"
                 :thead="tab.thead"
                 :tbody="tab.tbody">
            </tab>
        </div>
    </div>
</template>

<script>
import Tab from './Tab.vue'
import Vue from 'vue'

var TabClass = Vue.extend(Tab);

const axios = require('axios');

export default {
    components: {
        'tab': Tab
    },

    data() {
        return {
            tabs: [],
            activeMenu: false,
            selectedTab: { name: '', slug: '' }
        };
    },

    methods: {
        selectTab(selectedTab, event) {
            Event.$emit('selectTab', selectedTab);
            if (event) { event.target.blur(); }
            this.activeMenu = false;
            this.selectedTab = selectedTab;
        },
        toggleMenu() {
            this.activeMenu = !this.activeMenu;
        }
    },

    mounted() {
        if (this.tabs.length === 0) {
            axios.get('tabs.json', { responseType: 'json' }).
                then(response => {
                    response.data.forEach(tab => {
                        let t = new TabClass({ propsData: tab });
                        this.tabs.push(t);
                        if (t.isActive) { this.selectedTab = t; }
                    });
                }).
                catch(error => alert(error));
        }
    }
}
</script>

<style lang="sass">
@media screen and (max-width: 1087px)
    .navbar-brand a.navbar-item
        display: block
        border-bottom-color: #3273dc
        border-bottom-style: solid
        border-bottom-width: 1px
        color: #3273dc !important

@media screen and (min-width: 1088px)
    a.navbar-item.is-active
        border-bottom-color: #3273dc
        border-bottom-style: solid
        border-bottom-width: 1px
        color: #3273dc !important
        margin-bottom: -1px
        padding-bottom: 9px
    .navbar-brand a.navbar-item
        display: none;

.navbar-menu
    border-bottom-color: #dbdbdb
    border-bottom-style: solid
    border-bottom-width: 1px
</style>
